* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* html {
  scroll-behavior: smooth;
} */
/* =====Common===== */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
:root {
  --font-family: "Sen", sans-serif;
  --yellow: #ffb900;
  --black: #171100;
  --brown: #2e2100;
  --white: #fffcf4;
}

/* =====Header===== */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  bottom: 6px;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* =====hero===== */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* ===== hero left ===== */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 475px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .block-items {
  position: absolute;
  padding: 24px;
  width: 270px;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.block-items .items {
  display: flex;
  align-items: center;
}
.block-items .items + .items {
  margin-top: 22px;
}
.block-items .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.block-items .icon2 {
  background-color: #fcefff;
}
.block-items .icon3 {
  background-color: #ebeaff;
}
.block-items .info {
  margin-left: 16px;
}
.items .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.items .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* ===== hero right ===== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-family);
  font-size: 58px;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  width: 470px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 22px;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--yellow);
  margin-right: 28px;
}
.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  width: 148px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  color: #171100;
  font-family: var(--font-family);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.237;
  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
